.otp-field {
  margin: 3px;
  /* padding: 5px; */
  border-radius: 8px;
  /* border: 2px solid black; */
  width: 3rem;
  height: 3rem;
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  transition: all 0.1s;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}